<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userBean" class="org.spring.ioc.UserBean"/>
    <bean id="engine" class="org.spring.di.Engine"/>
    <bean id="car" class="org.spring.di.Car">
        <property name="engine" ref="engine"/>
    </bean>

</beans>